@{
    ViewBag.Title = "ENIGMA";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <hr />
            <p>
                Bring Your Artistic Sense to Life and Share Your Masterpiece.
            </p>
        </div>
    </section>
}
