@model List<Enigma.Domain.Photo>

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>All Photos</h2>
<div class="" id="wrapper">
    <div class="" id="columns">
        <div class="photo">
            <img src="/Images/Sample/1.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/2.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/3.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/4.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/5.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/6.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/7.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/8.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/9.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/9.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/10.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/11.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/12.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/13.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/14.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/15.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/16.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/17.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/18.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/19.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/20.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/21.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/22.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/23.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/24.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/25.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/26.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/27.jpg"/>
            <p>There is something</p>
        </div>
        <div class="photo">
            <img src="/Images/Sample/28.jpg"/>
            <p>There is something</p>
        </div>

    </div>
</div>


